@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nk Cibalia</h1>
    <p>Welcome to official Nk Cibalia page</p>
    <img src="https://upload.wikimedia.org/wikipedia/hr/thumb/f/ff/HNKCibaliaVinkovci.svg/1200px-HNKCibaliaVinkovci.svg.png" alt="Girl in a jacket" width="500" height="600">
</div>
