@{
    ViewData["Title"] = "About us";
}
<h1>About us</h1>

<p>



    Klub je osnovan 1919. godine kao Hrvatski građanski željezničarski klub Cibalia. 
    U razdoblju NDH klub je nastavio djelovati zbog čega je nova komunistička vlast godine 1945. zamrznula njegovo djelovanje, a 1947. i ugasila.
    No, na njegovim temeljima, njegovom stadionu, s većinom njegovih igrača, spajanjem RSFD Sloga i OFD Graničar nastao je Dinamo Vinkovci.
    Klub je u drugu jugoslavensku ligu ušao 1968., a u prvu 1982. gdje je igrao pet sezona, nakon čega je administrativnim putem izbačen u Drugu saveznu nogometnu ligu. 
    Godine 1990. vraćeno je staro i prvotno ime Cibalia. Najveći uspjesi u HNL-u su finale kupa 1999. te nekoliko igranja u Intertoto kupu i Europskoj ligi.
    Nakon sezone 2017./18. klub je izbačen iz 1. HNL u 3. HNL – Istok zbog dugova i financijskih problema.



    Legende – Najveći igrači u povijesti kluba su: Sulejman Halilović (reprezentativac, najstrijelac lige 1983.), Ivica Šesto, Martin Novoselac, Petar Bručić, Stjepan Bogdan, 
    Dušan Kesić, Svetozar Mirosavljević, Vlado Maroslavac, Franjo Šafran, Stjepan Sekulić, Dražen Jerković, Ivica Tunjić, Lušić S., Lušić N., Milorad Rajović, 
    Davor Čop (najbolji strijelac lige 1985.), Ante Šećer, Mile Urošević, Nevres Zahirović, Ivica Cvitkušić, Mijo Ručević, Igor Štimac, Nikola Jerkan, Josip Veber, 
    Mladen Kemo Bogdanović, Tomislav Ivković (reprezentativac), Ivan Budinčević, Ivica Duspara, Ivan Bošnjak (najbolji igrač u izboru Sportskih novosti),
    Sead Halilović,Marijan Mrmić, Goran Meštrović, Mladen Bartolović...treneri: Otto Barić, Tonko Vukušić, Ivo Šušak, Branko Karačić, Stanko Mršić, Mile Petković...
    Najveći klupski djelatnici, Mika Blažanin, Antun Čilić, Božo Galić, dr Vinca Vuković, prof. Marjan Nosić, Anđelko Bilušić...
    
</p>
